.parent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
}

.child.container1 img {
    width: fit-content;
    height: auto;
    border: 2px solid white;
    margin-top: 140px;
    border-radius: 25px;
  }



.child.container2 {
    border: 2px solid white;
    border-radius: 25px;
    margin-top:10px;
    padding: 70px;
}

#name{
    color: wheat;
    font-size: 20px;
}

.moodboard, .design-persona, .wireframes, .mockups {
  height: auto;
  margin-top: 140px;
  }

  .container-design {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
  
  }



  p{
    color: wheat;
    text-align: center;
  }

  button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: wheat;
    border: none;
    cursor: pointer;
  }





@media(max-width:1200px){
  .child.container2{
    margin:auto;
  }
}


.space{
  height: 180px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  border-color:white;
  color: #fff;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.forms-button {
  background-color: wheat;
  color: grey;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forms-button:hover {
  background-color: #EEDD82;
}

textarea{
  resize: none;
}

